{namespace org.koshinuke.template}

/**
 * make li for breadcrumb
 * @param href is anchr href attribute
 * @param view is representation
 */
{template .breadcrumb_li}
<li><a href="{$href}">{$view}</a></li>
{/template}